@import 'compass';

$black: black;
$white: white;
$yellow: yellow;

// global - helper styles
*, *:before, *:after {
  @include box-sizing(border-box);
}
.hide {
  display: none;
}
.center {
  text-align: center;
}


body {
  background-color: tint($black,10%);
  color: darken($white, 20%);
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
}

header {
  padding: 30px 0;
  text-align: center;
  background-color: $black;
  border-bottom: 1px solid tint($black, 15%);

  h1 {
    margin: 0;
    font-size: 3.5em;
    font-weight: normal;
    color: darken($white, 50%);
  }
}

form {
  input, select, button {
    border: 2px solid #000;
    color: tint($black, 25%);
    width: 100%;
    font-size: 1.2em;
    height: 36px;
    @include border-radius(3px);
  }

  input {
    @include border-radius(5px);
    padding: 2px 2px 1px 2px;
  }

  button {
    margin-top: 20px;
    background-color: $yellow;
  }

  label {
    display: block;
    font-size: 0.7em;
    text-transform: uppercase;
    padding-bottom: 7px;
  }

  fieldset {
    border: 0;
    padding: 20px;
    background-color: rgba($white, .1);
    border: 1px solid rgba($white, .05);
    border-top: 0;
    @include border-bottom-radius(5px);
  }

  .column {
    float: left;
    margin-right: 25px;

    &.hour {
      width: 70px;
      margin-right: 5px;
    }

    &.minutes {
      width: 90px;
    }

    &.type {
      width: 130px;
    }

    &.date {
      width: 130px;
    }

    &.button {
      margin-right: 0;
    }
  }
}
section {

  table {
    width: 100%;
    margin-top: 40px;
    @include single-box-shadow(rgba($black, .3), 0px, 0px, 10px, 1px);

    th, td {
      padding: 10px 15px;
      text-align: left;
      border-right: 1px solid tint($black,10%);
      position: relative;
    }

    th {
      padding: 12px 15px;
      background-color: #333;

      &:first-child {
        @include border-top-left-radius(5px);
      }

      &:last-child {
        @include border-top-right-radius(5px);
      }
    }

    tbody {
      color: darken($white, 30%);

      tr {

        &:nth-child(2n) {
          @include background-image(linear-gradient(bottom, $black, tint($black, 8%)));
        }

        &:hover {
          background: rgba($white, 0.05);
          color: tint($yellow, 30%);
        }
      }

    }

    .destroy {
      text-decoration: none;
      font-size: 0.7em;
      float: right;
      display: block;
      text-align: center;
      color: #fff;
      width: 18px;
      height: 18px;
      line-height: 18px;
      background-color: #c00;
      @include border-radius(100%);
      @include opacity(.2);
      transition: all .1s ease-in-out;

      &:hover {
        @include opacity(.5);
      }
    }
  }

  .total {
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;
    margin: 30px 0;
  }
}